* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #ffeec382;
    overflow-x: hidden;
    width: 100%;
}

header {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(254, 152, 0);
    padding: 1rem;


    nav li {
        list-style: none;
        display: inline-block;
        padding-left: 30px;
    }

    nav a {
        text-decoration: none;
        color: #000;
        font-size: 1.2rem;
        font-weight: 700;
    }

    button {
        visibility: hidden;
    }
}



@keyframes scale {
    0% {
        transform: scale(0);
    }



    100% {
        transform: scale(1);
    }
}

.popup {
    display: none;
    background-color: rgb(141, 247, 28);
    width: 75%;
    border-radius: 12px;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 4px 13px #fcd5d5,
        -2px -4px 13px #9c8d0abb;
}

.popActive {
    display: block;
}

.cancle {
    position: relative;
    left: 100%;
    top: -20px;
    background-color: rgb(65, 12, 3);
    padding: 0.4rem;
    border-radius: 10%;
    width: fit-content;
    height: 30px;
}

@media (max-width: 1114px) {
    header {
        justify-content: space-between;
        padding: 0.5rem;

        h1 {
            font-size: 1.7rem;
        }

        nav {
            display: none;
            position: absolute;
            top: 100px;
            right: 0;
            background-color: rgb(242, 145, 0);
            width: 80%;
            border-radius: 9px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
                -2px -2px 5px rgba(0, 0, 0, 0.3);
            animation: scale 0.7s ease;
        }

        .active {
            display: flex;
        }

        nav li {
            display: flex;
            padding: 1rem;
            margin-bottom: 40px;

        }

        nav a {
            font-size: 1.5rem;
            color: #fdfdfd;
        }


        button {
            width: 65px;
            background-color: transparent;
            visibility: visible;
            border: none;
        }


        span {
            display: flex;
            width: 40px;
            height: 5px;
            background-color: #fdfdfd;
            margin: 10px;

        }

        button,
        span:hover {
            cursor: pointer;
        }

    }


}